# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.log

# Next.js
.next
out
build
dist

# Environment
.env
.env*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo

# Prisma
*.db
*.db-journal

# Docker
*.pid
*.seed
*.pid.lock